.button {
  background: transparent;
  border: 2px solid transparent;
  color: var(--color-white);
  font-size: 1rem;
  text-align: center;
  transition: background-color 250ms;
  cursor: pointer;
}

.button:hover {
  border-color: var(--color-white);
}

.button.contained.primary,
.button.contained.success {
  color: var(--color-white);
  background-color: var(--color-ok);
}

.button.contained.primary:hover,
.button.contained.success:hover {
  background-color: var(--color-ok-darker);
}

.button.contained.secondary  {
  color: var(--color-white);
  border-color: var(--color-secondary);
  background-color: var(--color-secondary);
}

.button.contained.secondary:hover {
  background-color: var(--color-secondary-dark);
  border-color: var(--color-white);
}

.button.contained.error {
  color: var(--color-white);
  border-color: var(--color-warning);
  background-color: var(--color-warning);
}

.button.contained.error:hover {
  background-color: var(--color-warning-darker);
  border-color: var(--color-white);
}

.button.contained.warning {
  color: var(--color-black);
  border-color: var(--color-attention);
  background-color: var(--color-attention);
}

.button.contained.warning:hover {
  background-color: var(--color-attention-darker);
  border-color: var(--color-white);
}

.button.contained.info {
  color: var(--color-black);
  border-color: var(--color-information);
  background-color: var(--color-information);
}

.button.contained.info:hover {
  background-color: var(--color-information-darker);
  border-color: var(--color-white);
}

.button.contained.value {
  color: var(--color-black);
  border-color: var(--color-value);
  background-color: var(--color-value);
}

.button.contained.value:hover {
  background-color: var(--color-value-darker);
  border-color: var(--color-white);
}

.button.contained.option {
  color: var(--color-white);
  border-color: var(--color-targetOption);
  background-color: var(--color-targetOption);
}

.button.contained.option:hover {
  background-color: var(--color-targetOption-darker);
  border-color: var(--color-white);
}

.button.contained.highlight {
  color: var(--color-white);
  border-color: var(--color-highlight);
  background-color: var(--color-highlight);
}

.button.contained.highlight:hover {
  background-color: var(--color-highlight-darker);
  border-color: var(--color-white);
}


.button.outlined {
  color: var(--color-white);
}

.button.outlined.primary,
.button.outlined.success {
  border-color: var(--color-ok);
}

.button.outlined.primary:hover,
.button.outlined.success:hover {
  background-color: var(--color-ok);
}

.button.outlined.secondary {
  border-color: var(--color-secondary);

  &:hover {
    border-color: var(--color-white);
  }
}

.button.outlined.secondary:hover {
  background-color: var(--color-secondary);
}

.button.outlined.error {
  border-color: var(--color-warning);
}

.button.outlined.error:hover {
  background-color: var(--color-warning);
}

.button.outlined.warning {
  border-color: var(--color-attention);
}

.button.outlined.warning:hover {
  background-color: var(--color-attention);
  color: var(--color-black);
}

.button.outlined.info {
  border-color: var(--color-information);
}

.button.outlined.info:hover {
  background-color: var(--color-information);
  color: var(--color-black);
}

.button.outlined.value {
  border-color: var(--color-value);
}

.button.outlined.value:hover {
  background-color: var(--color-value);
  color: var(--color-black);
}

.button.outlined.option {
  border-color: var(--color-targetOption);
}

.button.outlined.option:hover {
  background-color: var(--color-targetOption);
}

.button.outlined.highlight {
  border-color: var(--color-highlight);
}

.button.outlined.highlight:hover {
  background-color: var(--color-highlight);
}



/** Toggle Button */
.button.toggle.inactive {
  border-color: var(--color-secondary);
  color: var(--color-secondary);
}

.button.toggle.primary.inactive:hover,
.button.toggle.success.inactive:hover {
  border-color: var(--color-ok);
  color: var(--color-white);
}

.button.toggle.secondary.inactive:hover {
  border-color: var(--color-white);
  color: var(--color-white);
}

.button.toggle.value.inactive:hover {
  border-color: var(--color-value);
  color: var(--color-white);
}

.button.toggle.error.inactive:hover {
  border-color: var(--color-warning);
  color: var(--color-white);
}

.button.toggle.warning.inactive:hover {
  border-color: var(--color-attention);
  color: var(--color-black);
}

.button.toggle.info.inactive:hover {
  border-color: var(--color-information);
  color: var(--color-black);
}

.button.toggle.option.inactive:hover {
  border-color: var(--color-targetOption);
  color: var(--color-white);
}

.button.toggle.highlight.inactive:hover {
  border-color: var(--color-highlight);
  color: var(--color-white);
}

.button.toggle.primary.active,
.button.toggle.success.active {
  border-color: var(--color-ok);
  color: var(--color-ok);
}

.button.toggle.secondary.active {
  border-color: var(--color-secondary);
  color: var(--color-white);
}

.button.toggle.value.active {
  border-color: var(--color-value);
  color: var(--color-value);
}

.button.toggle.error.active {
  border-color: var(--color-warning);
  color: var(--color-warning);
}

.button.toggle.warning.active {
  border-color: var(--color-attention);
  color: var(--color-attention);
}

.button.toggle.info.active {
  border-color: var(--color-information);
  color: var(--color-information);
}

.button.toggle.option.active {
  border-color: var(--color-targetOption);
  color: var(--color-targetOption);
}

.button.toggle.highlight.active {
  border-color: var(--color-highlight);
  color: var(--color-highlight);
}

.button.toggle.success.active:hover,
.button.toggle.primary.active:hover,
.button.toggle.secondary.active:hover,
.button.toggle.value.active:hover,
.button.toggle.error.active:hover,
.button.toggle.warning.active:hover,
.button.toggle.info.active:hover,
.button.toggle.option.active:hover,
.button.toggle.highlight.active:hover {

  color: var(--color-white);
}


.button.xsmall {
  font-size: var(--font-size-xsmall);
  padding: var(--label-padding-xsmall);
}

.button.small {
  font-size: var(--font-size-small);
  padding: var(--label-padding-small);
}

button.medium {
  font-size: var(--font-size-medium);
  padding: var(--label-padding-medium);
}

.button.large {
  font-size: var(--font-size-large);
  padding: var(--label-padding-large);
}

